.center-text {
    text-align: center;
}

.listing-title {
    text-decoration: none;
}

.list-with-title {
    font-size: 14px;
    margin: 30px;
    padding: 0;
    text-align: center;
}

.list-with-title li {
    list-style-type: none;
    padding: 0;
}

.list-with-title .listing-title {
    font-size: 18px;
    color: #666666;
    line-height: 1.8em;
}

.list-with-title .listing {
    padding: 0;
}

.list-with-title .listing .listing-post {
    padding-bottom: 5px;
}

.list-with-title .listing .listing-post .post-time {
    float: right;
    display: inline-block;
    max-width: 10%;
    text-align: right;
    color: #C5C5C5;
}

.list-with-title .listing .listing-post a {
    color: #8F8F8F;
    width: 90%;
    display: inline-block;
}

.list-with-title .listing .listing-post a:hover {
    color: #2660ab;
}
