<ul class="list-with-title">
    
      <div>
        <a href="{{.Permalink}}" class="listing-title db grow">
          <span>{{ .Title }}</span>
        </a>
        <div>
          {{ range .Params.tags }}
            <span class="post-time">
                <a class="link f7 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                  {{- . -}}
                </a>
            </span>
          {{ end }}
          </div>
          <div class="post-time">
            <span class="date">{{.Date.Format "Jan 2, 2006"}}</span>
            
          </div>
      </div>
</ul>