{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center lh-copy mid-gray">
  {{ .Content }}


  <aside class="flex-ns flex-wrap justify-around mt5">

    <div class="relative w-100 w-30-l mb4 bg-white">

      <div class="mb3 pa4 mid-gray overflow-hidden">

        <h1 class="f3 near-black">
          <a href="/stories" class="link black dim">
            Stories
          </a>
        </h1>
        <div class="f5 lh-copy nested-copy-line-height">
          {{ range first 3 (where site.RegularPages "Type" "in" "stories") }}
          <div>
            {{- partial "listsummary.html" . -}}
          </div>
          {{ end }}

          {{ with .Site.GetPage "section" "stories" }}
          <a href="{{ .Permalink }}" class="link f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
          {{ end }}

        </div>
      </div>

    </div>

    <div class="relative w-100 w-30-l mb4 bg-white">

      <div class="mb3 pa4 mid-gray overflow-hidden">

        <h1 class="f3 near-black">
          <a href="/activities" class="link black dim">
            Activities
          </a>
        </h1>
        <div class="f5 lh-copy nested-copy-line-height">
          {{ range first 3 (where site.RegularPages "Type" "in" "activities") }}
          <div>
            {{- partial "listsummary.html" . -}}
          </div>
          {{ end }}

          {{ with .Site.GetPage "section" "activities" }}
          <a href="{{ .Permalink }}" class="link f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
          {{ end }}

        </div>
      </div>

    </div>

    <div class="relative w-100 w-30-l mb4 bg-white">

      <div class="mb3 pa4 mid-gray overflow-hidden">

        <h1 class="f3 near-black">
          <a href="/posts" class="link black dim">
            Blogs and Reviews
          </a>
        </h1>
        <div class="f5 lh-copy nested-copy-line-height">
          {{ range first 3 (where site.RegularPages "Type" "in" "posts") }}
          <div>
            {{- partial "listsummary.html" . -}}
          </div>
          {{ end }}

          {{ with .Site.GetPage "section" "posts" }}
          <a href="{{ .Permalink }}" class="link f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
          {{ end }}

        </div>
      </div>
    </div>
  </aside>
</article>
{{ end }}